@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">FARM CENTRAL APPLICATION</h1>
    <p>ENERGY & AGRICULTURE CONNECT</p>
    <p>
        @*image taken from : Pintrest
        Author : Eliane Fidalgo
        Link : *@

        <img src="~/images/Farm.jpeg" />



    </p>

</div>


